pre-start script
    mkdir -p /mnt/data/db/mongodb/
    chown -R mongodb:mongodb /mnt/data
end script

start on startup
stop on shutdown

exec start-stop-daemon --start --quiet --chuid mongodb --exec  /usr/bin/mongod -- --shardsvr --dbpath /mnt/data/db/mongodb --logpath /mnt/data/db/mongodb.log --logappend